#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.results-card {
  border: 3px;
  border-radius: 1rem;
  border-top-left-radius: 0.5px;
  border-bottom-right-radius: 0.5px;
  border-style: solid;
  border-color: rgba(235, 150, 10, 1);
  background-color: rgba(235, 150, 10, 1);

  background: linear-gradient(
    180deg,
    rgba(245, 160, 0, 0.2) 10%,
    rgba(225, 140, 0, 0.2) 100%
  );
  color: rgba(235, 150, 10, 1);
  margin: 10%;
  padding: 1rem;
}
