:root {
  --clr-lightBlue: hsl(210, 100%, 40%);
  --clr-blue: hsl(210, 100%, 30%);
  --clr-darkBlue: hsl(210, 100%, 20%);
  --clr-darkestBlue: hsl(210, 100%, 5%);
  --clr-yellow: hsl(50, 100%, 60%);
  --clr-transparentYellow: hsla(50, 100%, 60%, 0.5);
  --clr-grey: hsl(210, 15%, 60%);
  --clr-transparentGrey: hsla(210, 15%, 60%, 0.5);
  --grad-title: linear-gradient(
    0deg,
    rgba(10, 20, 50, 0.4) 0%,
    rgba(20, 40, 100, 0.4) 100%
  );

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-grey);
  background: linear-gradient(
    180deg,
    var(--clr-blue) -20%,
    var(--clr-darkBlue) 30%,
    var(--clr-darkestBlue) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--clr-lightBlue);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-grey);
  text-shadow: 0 0 15px var(--clr-grey), 0 0 20px var(--clr-transparentGrey);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: var(--clr-grey);
  border-radius: 10px;
  border: 1.5px solid transparent;
  border-color: var(--clr-transparentGrey);
  padding: 0.6em 1.2em;
  margin: 6px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(
    0deg,
    var(--clr-blue) -30%,
    var(--clr-darkBlue) 110%
  );
  cursor: pointer;
  transition: border-color 0.15s;
}

button:hover {
  color: var(--clr-yellow);
  border-color: var(--clr-yellow);
  box-shadow: 0px 0px 4px 1px var(--clr-transparentYellow);
}

input[type="checkbox"] {
  accent-color: var(--clr-grey);
}

#resultsContainer {
  border: var(--clr-grey) solid 2px;
  border-radius: 1rem;
  border-bottom-right-radius: 0.5px;
  border-top-left-radius: 0.5px;
  background: var(--grad-title);
}

.episodeTitle {
  font-size: 1.3rem;
  font-family: "DrKabel";
  vertical-align: middle;
}

#episodeTitleContainer {
  border: var(--clr-grey) solid 2px;
  min-height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: -2px;
}

.title {
  color: var(--clr-grey);
  font-family: "DrKabel";
}

.titleFade {
  animation: titleFade 15s infinite;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 500;
}

#filterTitleContainer {
  border: var(--clr-grey) 2px solid;
  border-radius: 1rem;
  padding: 2px;
  border-top: 0px;
  border-right: 0;
  border-top-left-radius: 0.5px;
  border-bottom-right-radius: 0.5px;
  background: var(--grad-title);
}

.container {
  border-width: 2px;
  border-radius: 1rem;
  border-top-left-radius: 0.5px;
  border-bottom-right-radius: 0.5px;
  border-style: solid;
  border-color: var(--clr-grey);
  background: var(--grad-title);
}

#infoContainer {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  margin-left: auto;
  margin-right: auto;
  min-width: fit-content;
  max-width: 50%;
  font-weight: 500;
  text-align: left;
  padding: 1px;
  padding-left: 3px;
}

.infoItem {
  padding: 2px;
  margin: 1px;
  border: 2px var(--clr-grey) solid;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.filterButton {
  padding: 2px;
  padding-right: 6px;
  margin: 3px;
  border-radius: 0.4rem;
}

#filterContainer {
  margin-top: 1rem;
  background: var(--grad-title);
}

.filterButtonGroup {
  padding: 2px;
  margin: 2px;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectorButton {
  padding: 3px;
  padding-right: 6px;
  padding-left: 6px;
  margin: 2px;
  border-radius: 0.4rem;
}

.selectorButtonGroup {
  margin: 4px;
}

@keyframes titleFade {
  /* Animation intended to look like the TARDIS dematerialising*/
  0% {
    opacity: 1;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0);
  }

  40% {
    opacity: 1;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0);
  }

  70% {
    opacity: 0.05;
    text-shadow: 0 0 40px var(--clr-transparentGrey);
  }
  80% {
    opacity: 0;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0);
  }

  90% {
    opacity: 1;
    text-shadow: 0 0 20px var(--clr-grey);
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0);
  }
}

@font-face {
  font-family: "DrKabel";
  src: url(./assets/DrKabel-pvvD.otf), format("otf");
}
